<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>SQL Injection</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/src/main/resources/static/signup.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="title-container">
        <h1 class="title">SQL Injection</h1>
        <div class="logo-container">
          <div class="logo-outline">
            <div class="logo-container-child"></div>
            <div class="logo-container-child">
              <image class="logo-img" th:src="@{/asset/spring-logo.svg}" />
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="form-container">
          <h3 class="main-title">데이터 추가</h3>
          <form
            class="form-box"
            th:action="@{/signup}"
            th:object="${userForm}"
            method="post"
          >
            <!-- Error Message -->
            <div role="alert" th:if="${#fields.hasAnyErrors()}">
              <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
            </div>
            <!-- Error Message -->

            <div class="fleid-list">
              <label class="field-label" for="id">ID</label>
              <input class="field-input" type="text" th:field="*{id}" />
            </div>
            <div class="fleid-list">
              <label class="field-label" for="name">이름</label>
              <input class="field-input" type="text" th:field="*{name}" />
            </div>
            <div class="fleid-list">
              <label class="field-label" for="password">비밀번호</label>
              <input
                class="field-input"
                type="password"
                th:field="*{password}"
              />
            </div>
            <div class="fleid-list">
              <label class="field-label" for="password2">비밀번호 확인</label>
              <input
                class="field-input"
                type="password"
                th:field="*{password2}"
              />
            </div>
            <div class="fleid-list">
              <label class="field-label" for="email">이메일</label>
              <input class="field-input" type="email" th:field="*{email}" />
            </div>
            <button class="form-btn" type="submit">등록</button>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div>
        <img th:src="@{/asset/logo.svg}" />
      </div>
      <div class="info">
        <span class="major">SW융합대학 정보보호학과</span>
        <span>김준영 신건우 박해준 김세준 최선빈</span>
      </div>
    </footer>
  </body>
</html>
