<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SQL Injection</title>
    <style>
        .container {
            font-size: 1.1rem;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Add User Data</h1>
    <form th:action="@{/signup}" th:object="${userForm}" method="post">

        <!-- Error Message -->
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <!-- Error Message -->

        <div>
            <label for="id">ID</label>
            <input type="text" th:field="*{id}">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" th:field="*{password}">
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type="password" th:field="*{password2}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" th:field="*{email}">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>