<!-- 예시로 작성해놓은 코드입니다 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SQL Injection using Spring</h1>
    <form th:action="@{/attack}" th:object="${attackForm}" method="post">
<!--      <div sec:authorize="isAuthenticated()">-->
<!--        <input type="text" placeholder="Try to attack here..">-->
<!--        <button type="submit" >입력</button>-->
<!--      </div>-->
<!--      <div>-->
<!--        <input type="text" placeholder="Please Log-in">-->
<!--        <button disabled type="submit">입력</button>-->
<!--      </div>-->
        <input type="text" th:field="*{param}" placeholder="Try to attack here..">
        <button type="submit">입력</button>
    </form>
    <div th:if="${result} != null" th:text="${result}" style="height: 300px; border: 1px solid black"></div>
    <div th:unless="${result} != null" style="height: 300px; border: 1px solid black">Result...</div>
    <a th:href="@{/signup}">회원가입</a>
</body>
</html>